src/main/resources/xsd/profesor.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.cibertec.edu.pe/ws/objects"
           targetNamespace="http://www.cibertec.edu.pe/ws/objects"
           elementFormDefault="qualified">

    <xs:complexType name="profesorWs">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="especialidad" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
